<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisplus.pojo.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="commonSelect">
        select *
        from t_order
    </sql>
    <insert id="insertSelective">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="version != null">version,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="productId != null">#{productId,jdbcType=BIGINT},</if>
            <if test="version != null">#{version,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <delete id="deleteById">
        delete
        from t_order
        where id = #{id,jdbcType=NUMERIC}
    </delete>
    <update id="updateIdById">
        update t_order
        set id = #{id,jdbcType=NUMERIC}
        where id = #{oldId,jdbcType=NUMERIC}
    </update>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where
        id = #{id,jdbcType=NUMERIC}
    </select>
</mapper>
